<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>파이 그래프</title>
    <link rel="stylesheet" href="webapp\static\css\graph.css">
</head>
<body>
    <div class="graph" style="--data1:10%; --data2:20%; --data3:30%; --data4:40%;"></div> 
    <div class="graph" data-empty="현재 데이터가 존재하지 않습니다."></div>
    <div class="graph donut" style="--data1:10%; --data2:20%; --data3:30%; --data4:40%;" --width:50%></div>
</body>
</html>
